body {
    margin: 0px;
    color: var(--color-font);
    background-color: var(--color-background);
    font-family: monospace;
    font-size: 12px;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description-box {
    background-color: var(--color-background-light);
    padding: 8px 24px;
}

.fancy-link-icon {
    padding-left: 4px;
    padding-right: 4px;
    min-height: 16px;
    max-height: 0.8em;
    min-width: 16px;
    max-width: 0.8em;
    top: -8px;
    display: inline-block;
}

.screenshot-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    img {
        float: left;
        width: 24%;
        margin: 0px 1px;
        float: none;
    }
}

.accent-border, .button {
    border-color: var(--color-accent);
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
}

.button {
    background-color: var(--color-button);
    background-clip: padding-box;
    color: var(--color-text);
    text-decoration: none;
    padding: 12px 24px;
    transition: 0.3s;

    &:hover {
        background-color: var(--color-hover);
    }
}

a {
    color: var(--color-font);
}

h2 {
    padding-top: 32px;
}

@media (min-width: 600px) {
    #src-link {
        float: right;
        padding-top: 4px;
    }
}

.invert {
    filter: invert(1);
}

/* For chrome users */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(20,20,20);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(30,30,30);
}