.socials-card {
    padding-left: 0px;

    a {
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    ul {
        margin-left: auto;
        margin-right: auto;
    }

    li {
        background-color: var(--color-background-light);
    
        margin-bottom: 16px;
        margin-right: 16px;
        margin-left: 0px;
        margin-top: 0px;
        
        list-style: none;
        display: inline-block;
        width: 25%;
        padding: 0px 16px;
        transition: 0.3s;
        padding-bottom: 4px;

        background-color: var(--color-button);
        background-clip: padding-box;
        color: var(--color-text);
        text-decoration: none;
        transition: 0.3s;

            border-color: var(--color-accent);
        border-width: 1px;
        border-style: solid;
        border-radius: 1px;

        &:hover {
            background-color: var(--color-hover);
        }

    }

    img {
        float: left;
        width: 39px;
        height: 39px;
        padding-top: 8px;
        padding-right: 8px;
    }
}