:root {
    --color-background: white;
    --color-font: black;
    --color-hover: lightgray;
    --color-shadow: darkgray;
    --color-background-light: rgb(235, 235, 235);
    --color-highlight: #1f6feb;
    --color-button: white;
}

[data-theme="dark"] {
    --color-background: #181A1B;
    --color-font: white;
    --color-hover: #313537;
    --color-shadow: black;
    --color-background-light: #232628;
    --color-highlight: #1f6feb;
    --color-button: white;
}
