:root {
    --color-background: black;
    --color-font: white;
    --color-hover: #0D1A60;
    --color-shadow: black;
    --color-background-light: rgb(25, 25, 25);
    --color-accent: #1f6feb;
    --color-button: #0B1533;

    --color-window-border: white;
    --color-window-titlebar: rgb(25, 25, 25);
}